<app-generic-modal [title]="title" (onCloseEvent)="receiveMessage($event)" >
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck1"
      [(ngModel)]="historiaClinica"
    />
    <label class="form-check-label" for="defaultCheck1">
      Consulta Completa
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck2"
      [(ngModel)]="tratamiento"
    />
    <label class="form-check-label" for="2">
      Tratamiento
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck3"
      [(ngModel)]="paraclinicos"
    />
    <label class="form-check-label" for="defaultCheck3">
      Paraclínicos
    </label>
  </div>

</app-generic-modal>
