.cardReport:hover{
    cursor:pointer;
    -webkit-box-shadow: 1px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 12px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 12px -2px rgba(0,0,0,0.75);
}