<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="col-lg-12 text-right">
            <button
              type="button"
              (click)="crearPatient()"
              class="btn bg-success white btn-xs"
            >
              <i class="ft-user-plus"></i> Crear Nuevo
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!-- <crear-tipo-archivo></crear-tipo-archivo> -->
            <app-generic-datatable
              [columns]="columns"
              [enabledFilter]="true"
              [rows]="pageDataPatients.data"
              [page]="pageDataPatients.page"
              [filterOdataProperties]="[
                'NumeroIdentificacion',
                'Telefono',
                'Genero/Name',
                'NombreCompleto'
              ]"
              (nextPage)="nexPageEvent($event)"
              (filterOdataEvent)="filterOdataEvent($event)"
              (sortEvent)="sortEvent($event)"
              (limitPageEvent)="limitPageEvent($event)"
            >
            </app-generic-datatable>
            <!--COLUMN  OPTIONS-->
            <ng-template
              #cellTemplateOpcionesTable
              let-rowIndex="rowIndex"
              let-row="row"
              let-value="value"
            >
              <app-generic-options
                (editEventClick)="editEventClick(row)"
                (viewHistoryEventClick)="viewHistoryEventClick(row)"
                (deleteEventClick)="deleteEventClick(row)"
              >
              </app-generic-options>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
