<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="form-section" style="color: #342e49">
            <a (click)="eventClickBack()" style="margin-right: 5px"
              ><i class="ft-arrow-left"></i
            ></a>
            Consultas realizadas por fechas
          </h5>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form novalidate *ngIf="datesForm" [formGroup]="datesForm">
              <div class="row">
                <div class="col-md-1">
                  <app-generic-input-datepicker
                    [required]="true"
                    [formControlName]="'InitilDate'"
                    [formGroup]="datesForm"
                    [title]="'Fecha Inicial'"
                  ></app-generic-input-datepicker>
                </div>
                <div class="col-md-1">
                  <app-generic-input-datepicker
                    [required]="true"
                    [formControlName]="'FinalDate'"
                    [formGroup]="datesForm"
                    [title]="'Fecha Final'"
                  ></app-generic-input-datepicker>
                </div>
                <div class="col-md-2 pt-3">
                    <button
                    type="button"
                    (click)="getMedicalConsultationByDate(datesForm)"
                    class="btn bg-success white btn-xs ml-2"
                    [disabled]="datesForm.invalid"
                  >
                    <i class="ft-search"></i> Consultar
                  </button>
                  </div>
              </div>
              <br>
            </form>
            <div *ngIf="medicalConsultationCount >= 0">
                <h5> El total de consultas en el rango selecionado es: {{medicalConsultationCount}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
