<div class="dropdown btn-group mr-1 mb-1" ngbDropdown container="body">
  <!--#buttonOpciones-->
  <button type="button" class="btn btn-outline-info dropdown-toggle btn-sm" ngbDropdownToggle>
    <i class="icon-info"></i> Opciones
    <span class="caret"></span>
  </button>
  <div ngbDropdownMenu class="dropdown-menu" role="menu">
    <!-- <generic-button *ngFor="let item of listDataButtonOptions" [componentType]="componentTypeResource.ITEM_SELECT"
      [title]="item.title" [componentePermisoId]="componentePermisoId" [iconButton]="item.icon"
      [sizeClass]="'btn-block btn-lg'" [buttonType]="item.name" (eventClick)="onClickItem(item)">
    </generic-button> -->
    <a class="dropdown-item" (click)="onClickItem('EDITAR')">
      <i class="ft-edit-2"></i> Editar
    </a>
    <a class="dropdown-item" (click)="onClickItem('VIEW_HISTORY')">
      <i class="ft-file-text"></i> Gestionar Consultas
    </a>
    <a class="dropdown-item" (click)="onClickItem('ELIMINAR')">
      <i class="ft-trash-2"></i> Eliminar
    </a>
  </div>
</div>
