<section>
  <div class="row">
    <div class="col-12">
      <div class="card" *ngIf="agePatient != undefined && dataInformatinPatien != undefined">
        <div class="card-header">
          <h5 class="form-section" style="color: #342E49;">
            <a (click)="eventClickBack()" style="margin-right: 5px;"><i class="ft-arrow-left"></i></a>  Información básica del paciente: {{ dataInformatinPatien.Nombres +' '+ dataInformatinPatien.Apellidos }}
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              <span class="font-weight-bold">Identificación: </span
              >{{ dataInformatinPatien.NumeroIdentificacion }}
            </div>
            <div class="col-sm">
              <span class="font-weight-bold">Genero: </span
              >{{ dataInformatinPatien.Genero.Name }}
            </div>
            <div class="col-sm">
              <span class="font-weight-bold">Edad: </span>{{ agePatient }}
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Consultas del paciente:</h5>
          <div class="col-lg-12 text-right">
            <button
              type="button"
              (click)="createMedicalConsultation()"
              class="btn bg-success white btn-xs"
            >
              <i class="ft-plus"></i> Crear Nueva Consulta
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!-- <crear-tipo-archivo></crear-tipo-archivo> -->
            <app-generic-datatable
              [columns]="columns"
              [enabledFilter]="false"
              [rows]="pageDataPatients.data"
              [page]="pageDataPatients.page"
              [filterOdataProperties]="[
                'CreatedDate'
              ]"
              (nextPage)="nexPageEvent($event)"
              (filterOdataEvent)="filterOdataEvent($event)"
              (sortEvent)="sortEvent($event)"
              (limitPageEvent)="limitPageEvent($event)"
            >
            </app-generic-datatable>
            <!--COLUMN  OPTIONS-->
            <ng-template
              #cellTemplateOpcionesTable
              let-rowIndex="rowIndex"
              let-row="row"
              let-value="value"
            >
            <app-generic-options-medical-consultation
            (viewHistoryEventClick)="viewHistoryEventClick(row)"
          >
          </app-generic-options-medical-consultation>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
