<section>
  <div class="row">
    <div class="col-12">
      <div class="card" *ngIf="patientInfo != undefined && patientAge != undefined ">
        <div class="card-header">
          <h5 class="form-section" style="color: #342e49">
            <a (click)="eventClickBack(modal)" style="margin-right: 5px;"><i class="ft-arrow-left"></i></a> 
              Crear Consulta para: {{ patientInfo.Nombres +' '+ patientInfo.Apellidos}}
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              <span class="font-weight-bold">Identificación: </span
              >{{ patientInfo.NumeroIdentificacion }}
            </div>
            <div class="col-sm">
              <span class="font-weight-bold">Genero: </span>
              {{ patientInfo.Genero.Name }}
            </div>
            <div class="col-sm">
              <span class="font-weight-bold">Edad: </span>{{ patientAge }}
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          
        </div>
        <div class="card-content">
          <div class="card-body">
            <form
              novalidate
              *ngIf="medicalConsultationForm"
              [formGroup]="medicalConsultationForm"
            >
              <div class="form-section">
                <i class="icon-docs"></i>
                <span class="font-medium-2 black text-bold-700">
                  Datos de consulta
                </span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Motivo'"
                    [formControlName]="'Motivo'"
                  ></app-generic-input>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-12">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Antecedentes'"
                    [formControlName]="'Antecedentes'"
                    [value]="antecedenteConsultaAnterior"
                  ></app-generic-input>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-12">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Evolucion Enfermedad'"
                    [formControlName]="'EvolucionEnfermedad'"
                  ></app-generic-input>
                </div>
              </div>
              <br />

              <div class="form-section">
                <i class="icon-docs"></i>
                <span class="font-medium-2 black text-bold-700">
                  Examen Fisico
                </span>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXT"
                    [title]="'P'"
                    [formControlName]="'Peso'"
                  ></app-generic-input>
                </div>
                <div class="col-md-4">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.NUMBER"
                    [title]="'T (cm)'"
                    [formControlName]="'Talla'"
                  ></app-generic-input>
                </div>
                <div class="col-md-4">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.NUMBER"
                    [title]="'PC'"
                    [formControlName]="'PerimetoCefalico'"
                  ></app-generic-input>
                </div>
              </div>

              <div class="form-section">
                <i class="icon-docs"></i>
                <span class="font-medium-2 black text-bold-700">
                  Signos Vitales
                </span>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.NUMBER"
                    [title]="'FC'"
                    [formControlName]="'FrecuenciaCardiaca'"
                  ></app-generic-input>
                </div>
                <div class="col-md-2">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.NUMBER"
                    [title]="'FR'"
                    [formControlName]="'FrecuenciaResiratorio'"
                  ></app-generic-input>
                </div>
                <div class="col-md-2">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.NUMBER"
                    [title]="'T°'"
                    [formControlName]="'Temperatura'"
                  ></app-generic-input>
                </div>
                <div class="col-md-2">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.NUMBER"
                    [title]="'SAT'"
                    [formControlName]="'Saturacion'"
                  ></app-generic-input>
                </div>
                <div class="col-md-2">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXT"
                    [title]="'T/A'"
                    [formControlName]="'TencionArterial'"
                  ></app-generic-input>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Cabeza'"
                    [formControlName]="'Cabeza'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>
                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'ORL'"
                    [formControlName]="'ORL'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>
                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Cuello'"
                    [formControlName]="'Cuello'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>

                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Torax'"
                    [formControlName]="'Torax'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Abdomen'"
                    [formControlName]="'Abdomen'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>

                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Genitales'"
                    [formControlName]="'Genitales'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>
                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Extremidades'"
                    [formControlName]="'Extremidades'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>
                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Piel'"
                    [formControlName]="'Piel'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>
                <div class="col-md-3">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Neurologico'"
                    [formControlName]="'Neurologico'"
                    [value]="valorSignosVitales"
                  ></app-generic-input>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <app-generic-input
                    [required]="true"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Diagnostico'"
                    [formControlName]="'Diagnostico'"
                  ></app-generic-input>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-12">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Tratamiento'"
                    [formControlName]="'Tratamiento'"
                  ></app-generic-input>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-12">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Paraclínicos'"
                    [formControlName]="'Paraclinicos'"
                  ></app-generic-input>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-12">
                  <app-generic-input
                    [required]="false"
                    [formGroup]="medicalConsultationForm"
                    [inputType]="inputType.TEXTAREA"
                    [title]="'Paraclínicos Opcional'"
                    [formControlName]="'ParaclinicosOpcional'"
                  ></app-generic-input>
                </div>
              </div>
              <br />

              <br /><br />
              <div
                class="form-actions right"
                style="display: flex; justify-content: flex-end"
              >
                <button
                  type="button"
                  (click)="eventClickBack()"
                  class="btn bg-danger white btn-xs"
                >
                  <i class="ft-x"></i> Cancelar
                </button>
                <button
                  type="button"
                  (click)="saveMedicalConsultation(medicalConsultationForm)"
                  class="btn bg-success white btn-xs ml-2"
                  [disabled]="medicalConsultationForm.invalid"
                >
                  <i class="ft-save"></i> Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
