// Login Page

app-login-page {

  .img-carousel {
    height: 100%;
    top: 0;
    bottom: 0;
    //width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover;
    background-position: center;

  }
  #login {
    //background-image: url("../../../../assets/img/fondo-blanco.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    .login-img {
      padding: 0;
      background: transparent;
    }

    .login-btn {
      .btn.btn-outline-primary {
        &:hover {
          a {
            color: #fff;
          }
        }
      }
    }

    .recover-pass {
      button.btn.btn-primary {
        color: #fff !important;
      }

      button.btn.btn-success {
        color: #fff !important;
      }
    }
  }

  .card .btn-floating.btn-large.halfway-fab {
    bottom: 0px;
  }
  .card .btn-floating.halfway-fab {
 
  }

  .card-body {
  
  }

  .center {
    text-align: center !important;
    display: inline-block;
  }

  .card {
    // box-shadow: none !important;
    // background-color: transparent !important;

  }
}
