
<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="form-section" style="color: #342E49;">
            <a (click)="eventClickBack()" style="margin-right: 5px;"><i class="ft-arrow-left"></i></a> Registro de pacientes
          </h5>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form novalidate *ngIf="patientForm" [formGroup]="patientForm">
              <div class="row">
                <div class="col-md-4">
                  <app-generic-input [required]="true" [formGroup]="patientForm" [inputType]="inputType.TEXT"
                    [title]="'Nombres'" [formControlName]="'Nombres'"></app-generic-input>
                </div>
                <div class="col-md-4">
                  <app-generic-input [required]="true" [formGroup]="patientForm" [inputType]="inputType.TEXT"
                    [title]="'Apellidos'" [formControlName]="'Apellidos'"></app-generic-input>
                </div>
                <div class="col-lg-4">
                  <app-generic-select [required]="true" [appendTo]="'body'" [items]="listDataGeneros"
                    [formGroup]="patientForm" [selectType]="selectType.SELECT" [title]="'Genero'"
                    [formControlName]="'GeneroId'" [defaultValue]="defaultGeneros"> </app-generic-select>
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <app-generic-select [required]="true" [appendTo]="'body'" [items]="listDataTipoIdentificaciones"
                    [formGroup]="patientForm" [selectType]="selectType.SELECT" [title]="'Tipo Identificacion'"
                    [formControlName]="'TipoIdentificacionId'" [defaultValue]="defaultTipoIdentificaciones"> </app-generic-select>
                </div>
                <div class="col-md-4">
                  <app-generic-input [required]="true" [formGroup]="patientForm" [inputType]="inputType.TEXT"
                    [title]="'NumeroIdentificacion'" [formControlName]="'NumeroIdentificacion'"></app-generic-input>
                </div>
                <div class="col-md-4">

                  <app-generic-input-datepicker [required]="true" [formControlName]="'FechaNacimiento'"
                    [formGroup]="patientForm" [title]="'Fecha de Nacimiento'"></app-generic-input-datepicker>
                </div>
              </div>
              <div class="form-section"><i class="ft-phone"></i>
                <span class="font-medium-2 black  text-bold-700"> Contacto </span>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <app-generic-input [required]="false" [formGroup]="patientForm" [inputType]="inputType.TEXT"
                    [title]="'Direccion'" [formControlName]="'Direccion'"></app-generic-input>
                </div>
                <div class="col-md-4">
                  <app-generic-input [required]="false" [formGroup]="patientForm" [inputType]="inputType.TEXT"
                    [title]="'Telefono'" [formControlName]="'Telefono'"></app-generic-input>
                </div>
              </div>
              <br><br>
              <div class="form-actions right" style="display:flex; justify-content: flex-end;">
                <button type="button" (click)="eventClickBack()" class="btn bg-danger white btn-xs"><i
                    class="ft-x"></i> Cancelar
                </button>
                <button type="button" (click)="savePatient(patientForm)" class="btn bg-success white btn-xs ml-2" [disabled]="patientForm.invalid"><i
                  class="ft-save"></i> Guardar
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
