
app-generic-select{
  .ng-select .ng-select-container {
    min-height: calc(1.5em + 0.5rem + 2px);
  }

  .ng-select.ng-select-single .ng-select-container {
    height: calc(1.5em + 0.5rem + 2px);
  }

  .badge.badge-round {
      padding: 3px 4px;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    white-space: normal;
  }

}
